# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Prisma database files
prisma/dev.db
prisma/dev.db-journal

# Prisma migrations (optional, you may want to keep migrations under version control)
prisma/migrations/*

# SQLite database files
/data/
/data/FISA.db
/data/test.db
/FISA.db

# Ignore all files in the data folder
src/pages/api/data/*

# TypeScript cache
*.tsbuildinfo

# VSCode settings
.vscode/