---
import { getLogs } from '../../public/changelog';
import ChangeLogTable from '../components/ChangelogTable.astro';
import Layout from '../layouts/Layout.astro';

const logs = getLogs();

const title = "School Change Log";
---

<Layout title={title}>
  <div class="max-w-7xl mx-auto mt-10 p-8 bg-white shadow-md rounded-lg">
    <div class="text-center mb-10">
      <h1 class="text-3xl font-bold text-gray-800">School Change Log</h1>
      <p class="text-gray-600">This tracks changes made to school data through a fact sheet by an admin (not a client).</p>
    </div>
    <ChangeLogTable logs={logs} />
  </div>
</Layout>
