---
import Layout from '../layouts/Layout.astro';

---


<Layout title="FISA Admin page">
    <main>
        <h1>Welcome to <span class="text-gradient">FISA Admin Portal</span></h1>

        
    </main>

</Layout>