---
import Layout from '../layouts/Layout.astro';
import SchoolInfoCard from '../components/SchoolInfoCard.astro';

---


<Layout title="FISA Admin page">
    <main>
        <h1>Welcome to <span class="text-gradient">FISA Admin Portal</span></h1>
        <SchoolInfoCard />


    </main>

</Layout>