---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Invoice Form" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <!-- Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Flowbite CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <header class="bg-blue-600 text-white py-4">
      <div class="container mx-auto">
        <h1 class="text-2xl font-bold">{title}</h1>
      </div>
    </header>

    <main class="py-8">
      <div class="container mx-auto">
        <slot />
      </div>
    </main>

    <footer class="bg-gray-800 text-white py-4 mt-12">
      <div class="container mx-auto text-center">
        <p>&copy; 2024 FISA Invoices. All rights reserved.</p>
      </div>
    </footer>

    <!-- Flowbite JS -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"
    ></script>
  </body>
</html>
